.container{
/*border:2px solid black;*/
display:inline-block;
padding:30px;
position: absolute;
top:50%;
left:50%;
-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:rgba(250,250,250,0.7);
 box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
 border-radius:10px;
}
body{
background:url(https://wallpapercave.com/wp/wp3172699.gif) no-repeat ;
background-size: cover;
}
h1{
text-align:center;
}
.btn-primary{
margin-top:10px;
border:none;
background-color:limegreen;
padding:8px 12px;
border-radius:5px;
}
.login-link{
color:purple;
}